*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Nunito",sans-serif;
    background: #f8f8f8;
  }
  
  .input{
    text-align: center;
    margin: 40px auto;
  }
  
  input[type="submit"]{
    padding: 15px 10px;
    width: 20%;
    /* background: primary; */
    border: none;
    border-radius: 25px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 100%;
  }
  
  .input input[type="text"]{
    width: 60%;
    height: 55px;
    padding: 5px 10px;
    /* background: #e7e7e7; */
    border: none;
    border-radius: 25px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .card{
    width: 50%;
    background: #e7e7e7;
    /* height: 40vh; */
    margin: 50px auto;
    border-radius: 20px;
    text-align: center;
    /* justify-content: center; */
    padding:50px ;
  }

  #name,#country{
      text-align:  left;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  